:8085 {
	root * .

	# Serve index.html at root
	handle / {
		rewrite * /index.html
		file_server
	}
  handle /index_ar.html {
		rewrite * /index_ar.html
		file_server
	}

	# Serve assets folder
	handle /assets/* {
		file_server browse
	}

	# Block everything else
	handle {
		respond 404
	}
}
